h1 p{
font-family: "Material" "sans-serif";
}

h1{
    font-size: 5rem;
}

p{
    font-size: 2rem;
}

#home{

}

#jumbo{

}

/* DEBUT CODE REMY */

#benefice{

    padding-top: 10rem;
    

}

.benefice h1{
display: flex;
margin-top: 20rem;
font-size: 3rem;
    
}

.benefice p{
    display: flex;

    font-size: 2rem;
        
    }

#features{

}

#contact{
    
}