body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

h1 p{
font-family: "Material" "sans-serif";
}

h1{
    font-size: 4rem;
}

p{
    font-size: 2rem;
}

#home{

}

.logo{
    width: 70px;
}

.ms-1 {
    margin-left:100px !important;
  }

.cadre{
 border-width:1px;
 border-style:solid;
 border-color:black;
 background-color: white;
 padding: 5px;
 text-align: center;
 margin-right: 150px;
}

.jumbo{
background-color: #ff6347;
width: 100%;
height: 600px;
}

.iphone1{
    height: 550px;
    object-position: center
}

@media (max-width: 550px){
    .iphone1 {
        width: 100%;
    }
}

/* DEBUT CODE REMY */

#benefice{

    padding-top: 10rem;
    

}

.benefice h1{
display: flex;
margin-top: 20rem;

    
}

.benefice p{
    display: flex;
        
    }

#features{

}

#contact{

}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: black;
    margin-top: 10px;
}